@import './variables.css';
@import './reset.css';

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.2s ease;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  cursor: pointer;
}
